{
  "parser": "babel-eslint",
  "extends": "@trevorblades/eslint-config/react",
  "globals": {
    "TITLE": true,
    "PUBLIC_PATH": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}